
<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/cute-alert.js"></script>
</head>

<style type="text/css">

</style>
<body>
<div class="container" >
    <h2>Hello, {{name}}
        <a class="btn btn-primary btn-sm" href='/logout'>logout</a>
        <a class="btn btn-primary btn-sm" href='/setting'>Setting</a>
        <a class="btn btn-primary btn-sm" href='/admin'>Admin</a>
    </h2>
</div>

<div class="container" >
<form action="/device/add" method="post">
        <div class="input-group">
            <input type="text" name="identificator" class="form-control" pattern="[0-9]{10,15}" placeholder="Enter GUID" required>
            <input type="text" name="description" class="form-control" placeholder="Enter description" required>
            <span class="input-group-btn">
            <button class="btn btn-secondary" type="submit">ADD</button>
         </span>
        </div>
</form>
    <form action="/device/sensor/test" method="post">
        <div>
            <select name="deviceDescription" class="browser-default custom-select">
                {{#devices}}
                    <option>
                        {{description}}
                    </option>
                {{/devices}}
            </select>
            <select name ="argument" class="browser-default custom-select">
                <option value="temperature">Temperature</option>
                <option value="humidity">Humidity</option>
            </select>
            <button class="btn btn-secondary btn-lg btn-block" type="submit">Get</button>
        </div>
    </form>

    </div>

<form>
    <div class="input-group">
        <input type="text" name="identificator" id="identificator" class="form-control" pattern="[0-9]{10,15}" placeholder="Enter GUID" required>
        <input type="text" name="description" id="description" class="form-control" placeholder="Enter description" required>
        <span class="input-group-btn">
            <button class="btn btn-secondary" type="submit">ADD</button>
            <button id="toast" onclick="sendDevice();">Send</button>
         </span>
    </div>
</form>


<script type="text/javascript">
    var stompClient = new XMLHttpRequest();

    function sendDevice() {

        var identificator = document.getElementById('identificator').value;
        var description = document.getElementById('description').value;

        stompClient.open("POST", '/device/add', true);
        stompClient.setRequestHeader('Content-type', 'application/json; charset=UTF-8');
        var data = JSON.stringify({
            'identificator': identificator,
            'description': description,
        });
        stompClient.send(data);

        stompClient.onload = function() {
            if (stompClient.response == "true"){
                cuteToast({
                    type: "success",
                    message: "Setting save",
                    timer: 5000
                })
            } else {
                cuteToast({
                    type: "error",
                    message: "Settings not saved",
                    timer: 5000
                })
            }
        }
    }
</script>
</body>
</html>